<h1>Add Courses</h1>

<form method="POST" action="/add">
    {{#each courseError}}
     <div class="alert alert-danger">{{this.msg}}</div>
    {{/each}}
    <div class="input-field">
        <input name="title" id="title" type="text" class="validate" required value="{{data.title}}"/>
        <label for="title">Name of cours</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
    </div>

    <div class="input-field">
        <input name="price" id="price" type="text" class="validate" required value="{{data.price}}"/>
        <label for="price">Price of course</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
    </div>

    <div class="input-field">
        <input name="image" id="addImage" type="text" class="validate" required value="{{data.image}}"/>
        <label for="addImage">URL of image</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
    </div>

    <button class="btn btn-primary">Submit</button>

    <input type="text" name="_csrf" value="{{csrf}}" hidden>
</form>